/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(177, 214, 227);  
    
    color: rgb(197, 101, 105);
    font-family: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 900px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: black;
    text-align: center;
}

iframe {
    height: 220px;
    width: 700px;
}

/* artikel divs*/
.blokje{
    clear: both;
    margin-bottom: 30px;
}


div p {
    font-size: 20px;
    float: left;
    color: black;
}

img {
    width: 175px;
}

div h3{
    text-align: center;
    background-color: rgb(200, 234, 255);
    margin-bottom: 8px;
}

img.zweeflinks {
    float: left;
    margin-right: 15px;
    width:175px;
}

img.zweefrechts {
    float: right;
    margin-left: 15px;
    width:175px;
}


/*  overige specifieke stijlen */


.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(202, 103, 107);
}

a:hover {
    text-decoration: underline;
}


/*home pagina*/
.galerij{
    width: 900px;
}

p.homeblokje{
    font-size: 18px;
    float:left;
    width:48%;
    
}

img.homeblokje{
    float:left;
    width:48%;
    margin-right: 10px;
}

div.homeblokje {
    margin-bottom: 15px;
    border: 
}

/*footer*/
.footerfoto{
    width: 50px;
    text-decoration: none;
}

a img {
    width: 20px;
}

footer a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
    background-color: rgb(177, 214, 227); 
    
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(200, 234, 255);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(147, 212, 253);
}

nav li a.active {
    background-color: rgb(139, 202, 227);
}




