/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(177, 214, 227);  
    
    color:  color: rgb(197, 101, 105);
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 900px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: black;
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
    background-color: rgb(177, 214, 227); 
}

div{
    clear: both;
}


/* specifieke stijlen */

img.zweefrechts {
    float: right;
    margin-left: 15px;
    width: 45%;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(202, 103, 107);
}

a:hover {
    text-decoration: underline;
}

.blokje{
   color: rgb(197, 101, 105); 
}

.footerfoto{
    width: 2%;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(200, 234, 255);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(147, 212, 253);
}

nav li a.active {
    background-color: rgb(139, 202, 227);
}




