/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(177, 214, 227);  
    
    color: rgb(197, 101, 105);
    font-family: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 900px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: black;
    text-align: center;
}

/* artikelen*/
.blokje{
    clear: both;
    margin-bottom: 30px;
}


div p {
    font-size: 20px;
    float: left;
    color: black;
    text-align: left;
}

img {
    width: 175px;
}

div h3{
    text-align: center;
    background-color: rgb(187, 224, 237);
    margin-bottom: 8px;
    font-size: 25px;
    padding-bottom: 5px;
    border-radius: 5px;
}

img.zweeflinks {
    float: left;
    margin-right: 15px;
    width:21%;
}

img.zweefrechts {
    float: right;
    margin-left: 15px;
    width:21%;
}



li a{
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

p img{
    border-radius: 10px;
}
/* kledingstijl met schuifin tekst vanaf boven*/
.blok{
    float: left;
    margin-top: 12px;
    
}

.vakje{
    width: 290px;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    
}

.plaatje{
    display: block;
    width: 100%;
    height: auto;
}

.schuif{
    position: absolute;
    bottom:100%;
    right: 0;
    left: 0;
    background-color:  rgb(196, 131, 135);
    opacity: 85%;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;

}

.vakje:hover .schuif{
    bottom: 0;
    height: 100%;
}

.tekst{
    color: white;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, 50%);
}

#laatsteblok{
    margin-bottom: 12px;
}

/*albums*/
ul.dealbums li{
    font-size: 20px;
}

iframe {
    height: 220px;
    width: 700px;
    margin-bottom: 15px;
}

/*  overige specifieke stijlen */
.verwijs{
    list-style-type: square;
}

.smalltext {
    font-size: 0.7em;
    color: black;
}

a {
    color: rgb(202, 103, 107);
}



/*home pagina*/
.galerij{
    width: 900px;
    clear:both;
    border-radius: 15px;
}

p.homeblokje{
    font-size: 18px;
    float:left;
    width:48%;
    
}

img.homeblokje{
    float:left;
    width:48%;
    margin-right: 10px;
    
}

#homeblokje1 {
    margin-bottom: 15px;
    float:left;
    margin-top: 15px;
}

/*footer*/
.footerfoto{
    width: 50px;
    
}

a img {
    width: 20px;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
}

hr{
    background-color: black;
    border: 0.2px solid black;
}

footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
    background-color:rgb(177, 214, 227);
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(187, 224, 237);
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(192, 229, 242);
}

nav li a.active {
    background-color: rgb(197,234,247);
}
